# Virtual environments
venv/
.venv/
env/

# Bytecode & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases & local state
*.db
*.sqlite
*.sqlite3

# Environment
.env

# OS files
.DS_Store
*.swp
